{
  "bracketSameLine": true,
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 4,
  "endOfLine": "auto",
  "useTabs": true,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": false
}
