.dashboard-ecom {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 239, 225);

  .hello {
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 100px;
    font-size: 58px;
    font-weight: 600;
  }
  .text-info {
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    padding-top: 65px !important;
    padding: 0px 220px;
  }
}

.menu-item {
  color: #303f9f;
  .menu-item-link {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #303f9f;
  }
}

.input-login input {
  width: 100% !important;
}

.recharts-default-legend {
  display: none;
}

.form-userr-info .css-dev-only-do-not-override-1jr9qlj {
  display: grid !important;
}

.form-userr-info .css-dev-only-do-not-override-1jr9qlj {
  color: black;
}
